:root{
    --header-height: 3.5rem;

    --first-hue: 250;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;

    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);

    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);

    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);


    --body-font: 'Rubik', sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem; 
    --h2-font-size: 1.25rem; 
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem; 
    --smaller-font-size: 0.75rem; 
    --tiny-font-size: 0.625rem;
    
    --font-medium: 500;
    --font-semibold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: rgb(15,15,15);
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
   font-size: 1.8rem;
   color: #fff;
   margin-left: 4rem;
   font-weight: 500;
   transition: 0.3s ease-in-out;
   border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
   color: #14ff6a;
   border-bottom: 3px solid #14ff6a;
}
#menu-icon{
    font-size: 3rem;
    color: #14ff6a;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
span{
    color: #14ff6a;
}
.logo span{
    color: #14ff6a;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    border-radius: 50%;
    width: 19vw;
    box-shadow: 0 0 25px #14ff6a;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 50px #14ff6a,
                0 0 100px #14ff6a;
}
.home-content p{
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid #14ff6a;
    font-size: 2rem;
    border-radius: 50%;
    color: #14ff6a;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: #fff;
    transform: scale(1.3)translateY(-5px);
    background-color: #14ff6a;
    box-shadow: 0 0 25px #14ff6a;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(15,15,15);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #14ff6a;
    border: 2px solid #14ff6a;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    background: #14ff6a;
    color: #fff;
    border: 2px solid #14ff6a;
    box-shadow: 0 0 25px #14ff6a;
}
.text-animation{
    font-size: 42px;
    font-weight: 600;
    min-width: 280px;
    margin: 10px 0;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: #14ff6a;
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: rgb(15,15,15);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(15,15,15);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(21) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid #14ff6a;
    }
}
@keyframes words{
    0%,
    20%{
        content: "Full Stack Developer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "Photographer";
    }
    61%,
    80%{
        content: "Blogger";
    }
    81%,
    100%{
        content: "Content Creator";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.heading{
    text-align: center;
    font-size: 8rem;
}
.services{
    background-color: #161616;
}
.services h2{
    margin-bottom: 8rem;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.service-container .services-box{
    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(15,15,15);
    padding: 3rem 2rem 4rem;
    height: 550px;
    border-radius: 2rem;
    border: 3px solid #14ff6a;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.service-container .services-box:hover{
    transform: scale(1.02);
    background-color: #fff;
    color: #000;
}
.services-box i{
    font-size: 7rem;
    color: #14ff6a;
    margin-bottom: 1rem;
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    font-weight: 500;
}
.services-box .btn{
    background-color: transparent;
}
.services-box .btn:hover{
    color: #14ff6a;
    background: #000;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #14ff6a;
}
::-webkit-scrollbar-track{
    background-color: rgb(15,15,15);
    width: 50px;
}
.projects{
    background: rgb(15,15,15);
}
.projects h2{
    margin-bottom: 8rem;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.projects-container .projects-box{
    position: relative;
    height: 550px;
    overflow: hidden;
    display: flex;
    border-radius: 2rem;
    border: 3px solid transparent;
    transition: 0.5s ease-in-out;
}
.projects-box:hover{
    border: 3px solid #14ff6a;
}
.projects-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.projects-box:hover img{
    transform: scale(1.05);
}
.projects-box .projects-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 4rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    backdrop-filter: grayscale(100%);
}
.projects-box .projects-info:hover{
    background: rgba(0,0,0,0.5);
    backdrop-filter: grayscale(0%);
}
.projects-info h4{
    font-size: 4rem;
    color: #14ff6a;
    font-weight: 800;
}
.projects-info p{
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
    color: #14ff6a;
}
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: #161616;
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid #14ff6a;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(15,15,15);
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: inline-block;
}
.skills-content .progress h3{
    color: #fff;
    margin-right: 1rem;
}
.skills-content .progress h3 span{
    position: absolute;
    right: 14px;
}
.skills-content .progress i{
    font-size: 3rem;
    color: #14ff6a;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
    
}
.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: 0.6rem;
    border: .2rem solid #14ff6a;
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #14ff6a;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}
.timeline-section{
    background: rgb(15,15,15);
    padding: 100px 15px;
}
.timeline-section h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #14ff6a;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #14ff6a;
    box-shadow: 0 0 25px #14ff6a;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: #161616;
    backdrop-filter: blur(20px);
    border: 2px solid #14ff6a;
    box-shadow: 0 0 10px #14ff6a;
    padding: 30px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #14ff6a;
}
.timeline-content h3{
    font-size: 20px;
    color: #14ff6a;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 800;
}
.timeline-content p{
    color: #fff;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.contact{
    background-color: #161616;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: rgb(15,15,15);
    border-radius: 0.8rem;
    border: 2px solid #14ff6a;
    margin: 1rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(15,15,15);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}
.footer .social a{
    font-size: 25px;
    color: #14ff6a;
    width: 42px;
    height: 42px;
    border: 2px solid #14ff6a;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: #14ff6a;
    color: #fff;
    box-shadow: 0 0 25px #14ff6a;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid #14ff6a;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
body.light-theme{
    --title-color: hsl(var(--second-hue), 15%, 15%);
    --text-color: hsl(var(--second-hue), 8%, 35%);
    --body-color: hsl(var(--second-hue), 100%, 99%);
    --container-color: #fff;
}

.light-theme .scroll-header{
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

.light-theme .nav-menu{
    background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
}

.light-theme .section-subtitle{
    color: var(--text-color);
}

.light-theme .home-social-link{
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .home-socials::after,
.light-theme .footer-social-link{
    background-color: var(--title-color);
}

.light-theme .home-social-link,
.light-theme .home-scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .test-card,
.light-theme .footer-title,
.light-theme .footer-link,
.light-theme .footer-copy{
    color: var(--title-color);
}

.light-theme .about-box{
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .skills-content,
.light-theme .service-card,
.light-theme .work-card,
.light-theme .contact-card,
.light-theme .test-card{
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme::-webkit-scrollbar{
    background-color: hsla(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb{
    background-color: hsla(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsla(var(--second-hue), 8%, 44%);
}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .projects-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 5rem;
    }
}
@media(max-width:1000px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:995px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        border-left: 3px solid #14ff6a;
        border-bottom: 3px solid #14ff6a;
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background: rgba(0,0,0,0.9);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 45vw;
        margin-top: 4rem;
    }
    .services-box{
        margin: 0 5rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: center;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
}
@media(max-width:320px){
    .home-img img{
        width: 50vw;
    }
    .timeline-section .heading{
        font-size: 7rem;
    }
    .projects-box .projects-info h4{
        font-size: 28px;
    }
}
